@import './reset';
@import './form';

h1 {
  margin-bottom: 1.5rem;
  font-family: 'Lora', serif;
  font-size: 2.5em;
  text-align: center;
}

label, input, p {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f6f6f6;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

legend {
  font-family: 'Lora', serif;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}